.matching-pairs-game {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 10px;
  }

  .matching-card {
    width: 100px;
    height: 100px;
    background-color: var(--color-primary);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }

  .matching-card.flipped {
    background-color: var(--color-primary);
    transform: rotateY(180deg);
  }
